<%= form_for(@task) do |f| %>
   <%= render 'layouts/error_messages', model: f.object %>

   <%= f.label :priority, '優先順位' %>
   <%= f.select :priority, { Low: 'Low', Medium: 'Medium', High: 'High' }, class: 'form-control' %>

   <%= f.label :status, '進捗状況' %>
   <%= f.select :status, { Waiting: 'Waiting', Started: 'Started', Completed: 'Completed' }, class: 'form-control' %>

   <%= f.label :title, 'タイトル' %>
   <%= f.text_field :title %>

   <%= f.label :content, '内容' %>
   <%= f.text_field :content %>

   <label class="control-label" for="">終了期限</label>
   <%= f.date_select :deadline, {}, class: 'form-control' %>
   
   <%= f.submit '追加', class: "btn btn-primary" %>
<% end %>