<h1>タスク新規作成ページ</h1>

  <%= form_for(@task) do |f| %>
   <%= render 'layouts/error_messages', model: f.object %>

   <%= f.label :title, 'タイトル' %>
   <%= f.text_field :title %>

   <%= f.label :content, '内容' %>
   <%= f.text_field :content %>

   <label class="control-label" for="">終了期限</label>
   <%= f.date_select :deadline, {}, class: 'form-control' %>
   
   <%= f.submit '投稿' %>
  <% end %>